body{
    margin: 0%;
    padding: 0%;
}
#back{       
background: url("side.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: auto;
height: 510px;
}
#road{
    
    background: url("road.jpg");
}         
#img{
    width: 140px;
}
#btn{
width: 100px;
background-color:yellow;
font-size: 20px;
margin-top: 30px;

}
#dbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

    
