*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00bcd4;
}
.slider-box{
    width: 90%;
    height: 90vh;
    margin: 30px auto;
    /* position: relative; */
    overflow: hidden;
}
#slider{
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
}
#slider img{
    width: 800px;
    height: 800px;
}
.indicators{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
}
.indicators span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.active{
    background: #fff !important;
}